$primary: #39322a;
$secondary: #a16f4c;
$background: #fcfaf4;
$muted: #f8f9fa;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "background": $background,
  "muted": $muted,
);

@import "bootstrap/scss/bootstrap";

.text-xs {
  font-size: 0.75rem;
}
.text-xxs {
  font-size: 0.65rem;
}
